@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
    --White:#ffff;
    --UncheckGray:#A6A29F;
    --CheckGray:#595856;
    --BoldGray:#8C8C8C;
    --MidGray:#595959;
    --Gray:#d9d9d9;
    --Red:#D92344;
    --RedError:#c92432;
    --SuccessGreen:#2ecc71;
}

*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html{
    font-size: 62.4%;
}

header{
    font-size: 220%;
    color: var(--White);
    background: var(--Red);
    position: flex;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .6);
    padding: 2rem 9%;
    display: flex;                                  
    align-items:center;
    justify-content: space-between;
}

header .NavBar{
    margin-right: -4%;
    top:1.5%;
}

input[type = "button"]{
    background: none;
    position: flex;
    margin-right: 2rem;
    color: var(--White);
    border:1px solid var(--BoldGray);
    cursor: pointer;
    border-radius: 10px;
    padding: 1rem 3rem;
    font-size: 22px;
}

input[type = "button"]:hover{
    background: var(--BoldGray);
    transition: .4s;
}

.Body.List{
    overflow-y: scroll;
    padding-bottom:80px;
    scroll-behavior: smooth;
    background: var(--Gray);

}
.Body.Add{
    background: var(--Gray);
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
}

.Responsive{
    width: 100%;
    font-size: large;
    margin-top: 35px;
    display: flex;
}

.Block{
    background-color: whitesmoke;
    font-size: 27px;
    border-radius: 5px;
    margin-left: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    padding-bottom: 55px;
    text-align: center;
}

.Block.Info{
    width: 46%;
    font-size: 30px;
    padding-top: 55px;
    margin: auto;
    margin-top: 17%;
    display: flex;   
    position: relative;
    justify-content:center;
}


.delete-checkbox{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    appearance: none;
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background-color: var(--UncheckGray);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-checkbox::after{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 800;
    font-size: 20px;
    color: whitesmoke;
    display: none;
    
}

.delete-checkbox:hover{
    background-color: var(--CheckGray);
}

.delete-checkbox:checked{
    background-color: var(--CheckGray);
}

.delete-checkbox:checked::after{
    display: block;
}

.Form{
    align-items: top;
    margin-top: 100px;
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
    font-size: 18px;
    width: 420px;
    padding: 60px 40px;
    box-sizing: border-box;
    position: absolute;
    left: 7%;
    transform: translate(-3%);
}

.Data{
    display:none;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


.FieldError, .SkuError, .SelectError, .ZeroError{
    display:none;
    font-size: 24px;
    color: var(--RedError);
}

.FormControl, .FormData{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

label{
    display: inline-block;
    margin-bottom: 5px;
}

input[type = "text"], input[type = "number"], select[class ="selection"]{
    width: 100%;
    border:1px solid var(--MidGray);
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
}

.FormControl input, .Data input, .FormData input{
    border: 2px solid var(--MidGray);
    border-radius: 4px;
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 10px;
}

.FormControl small, .Data small{
    visibility: hidden;
    position: absolute;
    font-size: 14px;
    color: var(--RedError);
}

.FormControl.Error small{
    color: var(--RedError);
    visibility: visible;
}

.FormControl.Error input{
    border-color: var(--RedError);
}

.FormControl.Success input{
    border-color: var(--SuccessGreen);
}

footer{
    font-size: 180%;
    color: var(--White);
    background: var(--Red);
    position: fixed;
    bottom:0%;
    margin-top: 350px;
    width: 100%;
    padding: 2rem 9%;
    display: fixed;                                 
    text-align: center;
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display: none;
}
